.section-location {
    padding: 50px 0 0 0;

    .location-wrapper {
        display: flex;
        justify-content: center;
        flex-flow: column;
        padding: 0.5em;
        font-family: "Source Sans Pro",sans-serif;
        color: white;

     h2 {
         margin-bottom: 1em;
         color: rgb(240, 231, 231);
     }

     .location-items {
        margin: auto;
        width: 80vw;
        max-width: 500px;
        color: rgb(240, 231, 231);

      .days-hours {
        display: flex;
        padding: 0em 2em 0em 2em;

        p {
          text-align: left;
          border-bottom: 1px solid rgb(240, 231, 231);

            &:first-child {
            font-weight: 700;
            width: 50%;
            }

            &:nth-child(2) {
                font-weight: 400;
                width: 50%;
                text-align: right;
                }
            }
        }
    }

    p.adress-info {
        text-align: center;
        font-size: 120%;
        margin-top: 2em;
        margin-bottom: 2em;
        color: rgb(240, 231, 231);
    }

    h2#secondh2 {
      font-size: 220%;
    }

    a {
      margin: 0em auto 1.5em;
      color: #f0e7e7;
      text-decoration: none;
      font-size: 200%;
      }
  }
}